.banner-cta-1 {
    background-color: $COLOR_2;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    .img {
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            // position: absolute;
            // bottom: 0;
            max-width:70px;
        }
    }
    .txt{
        padding-top: 20px;
        // padding-left: 50px;
    }

    h2 {
        color: $COLOR_1;
        font-family: 'IBMPlexSans-SemiBold';
        font-size: 2rem;

        .c_small {
            font-family: 'IBMPlexSans-Regular'; 
            font-size: 1rem;
            display: inline-table;
            margin-top: 10px;
            display: grid;
        }
        .efecto{
            font-size: 2rem;
            background-color: $COLOR_3;
            font-family: 'IBMPlexSans-SemiBoldItalic';  
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 7px;
            color: #FFF;
        }
    }
}

.banner-cta-2{
    position: relative;
    .txt{
        position: absolute;
        width: 100%;
        padding-top: 50px;
        h2{
            font-family: 'IBMPlexSans-BoldItalic'; 
            font-size: 1.2rem;
            color: #FFF;
            .porcentaje{
                text-transform: uppercase;
                font-size: 2.2rem;
                display: block;
            }
        }
        h3{
            color: #FFF;
            font-family: 'IBMPlexSans-Regular'; 
            font-size: 1rem;
        }
        .txt-1{
            h2{
                .det{
                    background-color: $COLOR_1;
                    padding: 2px 10px;
                    border-radius: 50px;
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }
        .txt-2{
            h2{
                .det{
                    background-color: $COLOR_3;
                    padding: 2px 10px;
                    border-radius: 50px;
                    margin-top: 5px;
                    display: inline-block;
                    
                }
            }
            h3{
                font-family: 'IBMPlexSans-BoldItalic'; 
            font-size: 1.1rem;
            }
        }
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-cta-1{
        padding-bottom: 30px;
        h2{
            text-align: center;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner-cta-1{
        .txt{
            h2{
                .efecto{
                    &::after{
                        content: url('../img/after-4.png');
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        transform: scale(0.85);
                    }
                }
            }
        }
    }

    .banner-cta-2{
        .txt{
            .txt-1{
                padding-left: 40px;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}